.containner {
	margin-top: 20%;
}

.bottom {
	margin-bottom: 1.5%;
}

.font {
	
}

body {
	background-image: url('https://images.alphacoders.com/472/thumb-1920-47271.jpg');
	background-size: 100%;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: italic;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}

.containnerPg {
	margin-top: 1%;
}

.containnertb {
	margin-top: 7%;
}

.containnerbt {
	margin-top: 3%;
}